anthropic==0.28.1
cohere==5.5.8
datasets==2.14.7
huggingface_hub==0.20.1
nltk==3.8.1
numpy==1.25.1
openai==1.34.0
openpyxl==3.1.2
pandas==2.0.3
qa_metrics==0.2.8
Requests==2.32.3
tiktoken==0.4.0
torch==2.0.1
tqdm==4.65.0
transformers==4.38.2
